<div class="container-fluid">
    <div class="col-lg-12 mt-4">
        <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-secondary text-white">
                            <th>Request Number</th>
                            <th>Token/Name</th>
                            <th>Requestor Department</th>
                            <th>Resource Type</th>
                            <th>Resource Department</th>
                            <th>No of Resources</th>
                            <th>Period From</th>
                            <th>Period To</th>
                        </tr>
                    </thead>
                    <tbody *ngIf=" inboxData.length > 0; else noData">
                        <tr *ngFor="let item of inboxData | paginate: { itemsPerPage: 15, currentPage: page, totalItems: totalLength }">
                            <td style="cursor:pointer;text-decoration: underline !important;color: blue;"><a (click)="showInboxCLOTP(item.AAH_TASKID)">{{item.REQUEST_NUMBER}}</a></td>
                            <td>{{item.APPROVER}}</td>
                            <td>{{item.REQUESTORDEPARTMENT}}</td>
                            <td>{{item.RESOURCETYPE}}</td>
                            <td>{{item.RESOURCEDEPARTMENT}}</td>
                            <td>{{item.NOOFRESOURCES}}</td>
                            <td>{{item.PERIODFROM}}</td>
                            <td>{{item.PERIODTO}}</td>
                        </tr>
                    </tbody>
                    <ng-template #noData>
                        <tbody *ngIf="show" >
                            <tr>
                               <td colspan="8" style="text-align:center"><b>No Data Found</b></td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
        </div>
    </div>
    <div *ngIf="totalLength > 0">
    <pagination-controls class="pagination" (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>