<div id="main">
<form [formGroup]="requestdetailform">
<div class="mt-5 ">
    <mat-accordion>
        <mat-expansion-panel (opened)="documentpanel = true" (closed)="documentpanel = false" [expanded]="!submitBtnHide">
            <mat-expansion-panel-header>
                <mat-panel-description class="detailgrid">
                    <h2>Request Details</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-lg-12 mt-4">
                
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-label">Token/Name</label>
                            <input class="form-control" type="text" formControlName="tokenname">
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label">Requestor Department</label>
                            <input class="form-control" type="text" formControlName="requestordepartment">
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label required">Resource Type</label>
                            <select formControlName="resourcetype" class="form-select"
                                [ngClass]="{'boxborderred': submitted && resourcetype?.invalid ,'dIconHide': !submitBtnHide}"
                                (change)="res_typeChange(sel.value)"  #sel>
                                <option value="">-- select --</option>
                                <option *ngFor="let item1 of ResourceTypeDropdown"  [ngValue]="item1">{{item1}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label">Request Number</label>
                            <input class="form-control" type="text" formControlName="requestnumber">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label class="form-label required">Project</label>
                            <select formControlName="project" class="form-select"
                                [ngClass]="{'boxborderred': submitted && project?.invalid, 'dIconHide': !submitBtnHide}">
                                <option value="">-- select --</option>
                                <option *ngFor="let item2 of ResourceDeptNameDropdown" [ngValue]="item2">{{item2}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label required">No of Resources</label>
                            <input class="form-control" type="number" formControlName="noofresources"
                                [ngClass]="{'boxborderred': submitted && noofresources?.invalid}">
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label required">Resource Department</label>
                            <select class="form-select" formControlName="resourcedepartment"
                                [ngClass]="{'boxborderred': submitted && resourcedepartment?.invalid, 'dIconHide': !submitBtnHide}">
                                <option value="">-- select --</option>
                                <option *ngFor="let item3 of ResourceDeptDropdown" [ngValue]="item3">{{item3}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 input-box">
                            <label class="form-label required">Period From</label>
                            <input matInput [matDatepicker]="picker1" class="form-control" formControlName="periodfrom" [ngClass]="{'boxborderred': submitted && periodfrom?.invalid}">
                            <mat-datepicker-toggle matSuffix [for]="picker1" id="datepickIcon"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <!-- <input class="form-control" type="date" formControlName="periodfrom" 
                               placeholder="-- Select --" [ngClass]="{'boxborderred': submitted && periodfrom?.invalid}">
                               <mat-icon class="datepickericon">date_range</mat-icon> -->
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-lg-3 input-box">
                            <label class="form-label required">Period To</label>
                            <input matInput [matDatepicker]="picker2" class="form-control" formControlName="periodto" [ngClass]="{'boxborderred': submitted && periodto?.invalid}">
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="datepickIcon"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <!-- <input class="form-control" type="date" formControlName="periodto"
                            placeholder="-- Select --" [ngClass]="{'boxborderred': submitted && periodto?.invalid}">
                            <mat-icon class="datepickericon">date_range</mat-icon> -->
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label required">Justification</label>
                            <input class="form-control" type="text" formControlName="justifiaction"
                            [ngClass]="{'boxborderred': submitted && justifiaction?.invalid}">
                        </div>
                    </div>
                
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="mt-5 " >
    <mat-accordion>
        <mat-expansion-panel (opened)="documentpanel = true" (closed)="documentpanel = false" [expanded]="!submitBtnHide" >
            <mat-expansion-panel-header>
                <mat-panel-description class="detailgrid">
                    <h2>Documents</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form >
            <div class="col-lg-12 mt-4" >
                <div class="row">
                    <div class="container">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-secondary text-white" >
                                    <th><input type="checkbox" [checked]="isAllCheckBoxChecked() && thChecked"
                                            (change)="checkAllCheckBox($event)"></th>
                                    <th>Document Name</th>
                                    <th>Uploaded By</th>
                                    <th>Uploaded On</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of docData.filesArray; let i=index;" disabled>
                                    <td><input type="checkbox" value="{{item.DOC_NAME}}" (change)="tdCheckbox()"
                                            [(ngModel)]="item.isChecked" [ngModelOptions]="{standalone: true}"></td>
                                    <td>{{ item.DOC_NAME }}</td>
                                    <td>{{ item.UPLOADED_BY }}</td>
                                    <td>{{ item.UPLOADED_ON }}</td>
                                </tr>
                                <tr>
                                    <button class=" btn bg-dark mx-1" type="button" (click)="deleteFile()">
                                        <mat-icon class="text-white">delete</mat-icon>
                                    </button>
                                    <button class="btn bg-danger mx-1" type="button" (click)="uploadFile()">
                                        <mat-icon class="text-white">upload</mat-icon>
                                    </button>
                                    <form style="display:none">
                                        <input type="file" id="fileUploadDoc" (change)="UploadFileDoc($event)"
                                            [(ngModel)]="fileUploadDoc" name="fileUploadDoc" style="display:none" [ngModelOptions]="{standalone: true}">
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="container-fluid mt-3">
    <div class="row" *ngIf="res_type_selected !== 'show'">
        <div class="col-lg-3">
            <label class="form-label required">Department HOD</label>
            <div class="input-box rounded">
                <input type="text" class="form-control rounded-left" placeholder="Search"
                formControlName="HODControl" [matAutocomplete]="autoHOD" [ngClass]="{'boxborderred': submitted && HODControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoHOD="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsHOD | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
            
        </div>
        <div class="col-lg-3"
            [hidden]="res_type_selected == 'Casual Labour-Dept' || res_type_selected == 'Casual Labour-Project'">
            <label class="form-label required">HR</label>
            <div class="input-box rounded">
                <input type="text" class="form-control rounded-left" placeholder="Search"
                formControlName="HRControl" [matAutocomplete]="autoHR" [ngClass]="{'boxborderred': submitted && HRControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoHR="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsHR | async" [value]="option">
                        {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
        </div>
        <div class="col-lg-3"
            [hidden]="res_type_selected == 'Resource week OTP' || res_type_selected == 'Project OTP' || res_type_selected == 'Casual Labour-Dept'">
            <label class="form-label required">CPH</label>
            <div class="input-box rounded">
                <input type="text" class="form-control rounded-left" placeholder="Search"
                formControlName="CPHControl" [matAutocomplete]="autoCPH" [ngClass]="{'boxborderred': submitted && CPHControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCPH="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsCPH | async" [value]="option">
                        {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
        </div>
        <div class="col-lg-3" [hidden]="res_type_selected == 'Resource week OTP'">
            <label class="form-label required">FDPD Head</label>
            <div class="input-box rounded">
                <input type="text" class="form-control rounded-left" placeholder="Search"
                formControlName="FDPDControl" [matAutocomplete]="autoFDPD" [ngClass]="{'boxborderred': submitted && FDPDControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoFDPD="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsFDPD | async" [value]="option">
                        {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
        </div>
    </div>
    
</div>
</form>

<div class="mt-5" *ngIf="!submitBtnHide">
    <mat-accordion>
        <mat-expansion-panel (opened)="documentpanel = true" (closed)="documentpanel = false" [expanded]="!submitBtnHide">
            <mat-expansion-panel-header>
                <mat-panel-description class="detailgrid">
                    <h2>Workflow History</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-lg-12 mt-4">
                <div class="row">
                    <div class="container">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-secondary text-white">
                                    <th>Role</th>
                                    <th>User Name</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th style="width:45%">Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of CLOTPAAHArr; let i=index;">
                                    <td>{{item.AAH_ACTROLE}}</td>
                                    <td>{{item.AAH_ACTOWNERID}}</td>
                                    <td>{{item.AAH_ACTSTATUS}}</td>
                                    <td>{{item.AAH_ACTSTARTDATE | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{ item.AAH_ACTREMARKS}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-6" >
            <div *ngIf="!submitBtnHide">
            <label class="form-label">Remarks</label>
            <input class="form-control" type="text" [(ngModel)]="remarks" [ngModelOptions]="{standalone: true}">
        </div>
        </div>
<div class="col-lg-6" style="margin-top:3%;">
    <div *ngIf="submitBtnHide">
    <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="save()">
        <mat-icon class="text-red">save</mat-icon>Save
    </button>
    <button type="button" class="btn btn-sm btn-danger mx-2" (click)="submit()">
        <mat-icon class="text-red">done</mat-icon>Submit
    </button>
</div>
<div *ngIf="!submitBtnHide">
    <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="rejectTask('0')">
        <mat-icon class="text-red">close</mat-icon>Reject
    </button>
    <button type="button" class="btn btn-sm btn-danger mx-2" (click)="completeTask('1')">
        <mat-icon class="text-red">done</mat-icon>Approve
    </button>
</div>
</div>
</div>
</div>
</div>