<div id="main">
<form [formGroup]="requestdetailform">
<div class="mt-5 ">
    <mat-accordion>
        <mat-expansion-panel (opened)="documentpanel = true" (closed)="documentpanel = false" [expanded]="!submitBtnHide || viewPage">
            <mat-expansion-panel-header>
                <mat-panel-description class="detailgrid">
                    <h2>Request Details</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-lg-12 mt-4">
                
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="form-label">Token/Name</label>
                            <input class="form-control" type="text" formControlName="tokenname">
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label">Requestor Department</label>
                            <input class="form-control" type="text" formControlName="requestordepartment">
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label" >Resource Type<span class="required" [hidden]="this.requestdetailform.controls['resourcetype'].value">*</span></label>
                            <select formControlName="resourcetype" class="form-select"
                                [ngClass]="{'boxborderred': !isValid && resourcetype?.invalid ,'dIconHide': !submitBtnHide || this.requestdetailform.controls['resourcetype'].value}"
                                (change)="res_typeChange(sel.value)"  #sel>
                                <option value="">-- select --</option>
                                <option *ngFor="let item1 of ResourceTypeDropdown"  [ngValue]="item1">{{item1}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label">Request Number</label>
                            <input class="form-control" type="text" formControlName="requestnumber">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label class="form-label ">Project<span class="required" *ngIf="savedStatus=='0'">*</span></label>
                            <select formControlName="project" class="form-select"
                                [ngClass]="{'boxborderred': submitted && project?.invalid, 'dIconHide': !submitBtnHide}">
                                <option value="">-- select --</option>
                                <option *ngFor="let item2 of ResourceDeptNameDropdown" [ngValue]="item2">{{item2}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label ">No of Resources<span class="required" *ngIf="savedStatus=='0'">*</span></label>
                            <input class="form-control" type="number" formControlName="noofresources"
                                [ngClass]="{'boxborderred': submitted && noofresources?.invalid}">
                        </div>
                        <div class="col-lg-3">
                           
                            <label class="form-label">Resource Department<span class="required" *ngIf="savedStatus=='0'">*</span></label>

                            <select formControlName="resourcedepartment" class="form-select"
                            [ngClass]="{'boxborderred': submitted && resourcedepartment?.invalid, 'dIconHide': !submitBtnHide}">
                            <option value="">-- select --</option>
                            <option *ngFor="let item2 of ResourceDeptDropdown" [ngValue]="item2">{{item2}}</option>
                        </select>

                        </div>
                        <div class="col-lg-3 input-box">
                            <label class="form-label">Period From<span class="required" *ngIf="savedStatus=='0'">*</span></label>
                            <input matInput [matDatepicker]="picker1" [min]="todayDate" class="form-control" formControlName="periodfrom" [ngClass]="{'boxborderred': submitted && periodfrom?.invalid}">
                            <mat-datepicker-toggle matSuffix [for]="picker1" id="datepickIcon"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                    
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-lg-3 input-box">
                            <label class="form-label">Period To<span class="required" *ngIf="savedStatus=='0'">*</span></label>
                            <input matInput [matDatepicker]="picker2" [min]="todayDate" class="form-control" formControlName="periodto" [ngClass]="{'boxborderred': submitted && periodto?.invalid}">
                            <mat-datepicker-toggle matSuffix [for]="picker2" id="datepickIcon"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                           
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Justification<span class="required" *ngIf="savedStatus=='0'">*</span></label>
                            <input class="form-control" type="text" formControlName="justifiaction"
                            [ngClass]="{'boxborderred': submitted && justifiaction?.invalid}">
                        </div>
                    </div>
                
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="mt-5 " >
    <mat-accordion>
        <mat-expansion-panel (opened)="documentpanel = true" (closed)="documentpanel = false" [expanded]="!submitBtnHide || viewPage" >
            <mat-expansion-panel-header>
                <mat-panel-description class="detailgrid">
                    <h2>Documents</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form >
            <div class="col-lg-12 mt-4" >
                <div class="row">
                    <div class="container">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-secondary text-white" >
                                    <th><input type="checkbox" [checked]="isAllCheckBoxChecked() && docData.filesArray.length>0"
                                            (change)="checkAllCheckBox($event)" [disabled]="!viewPage || docData.filesArray.length == '0'"></th>
                                    <th>Document Name</th>
                                    <th>Uploaded By</th>
                                    <th>Uploaded On</th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of docData.filesArray; let i=index;">
                                    <td><input type="checkbox" value="{{item.DOC_NAME}}" (change)="tdCheckbox(item)"
                                            [(ngModel)]="item.isChecked" [ngModelOptions]="{standalone: true}"></td>
                                    <td style="cursor:pointer;text-decoration: underline;"><a (click)="downloadFile(item)">{{ item.DOC_NAME }}</a></td>
                                    <td>{{ item.UPLOADED_BY }}</td>
                                    <td>{{ item.UPLOADED_ON }}</td>
                                </tr>
                                <tr>
                                    <button class=" btn bg-dark mx-1" type="button" (click)="deleteFile()" [disabled]="checkedRows.length == '0'">
                                        <mat-icon class="text-white">delete</mat-icon>
                                    </button>
                                    <button class="btn bg-danger mx-1" type="button" (click)="uploadFile()" [disabled]="!viewPage">
                                        <mat-icon class="text-white">upload</mat-icon>
                                    </button>
                                    <form style="display:none">
                                        <input type="file" id="fileUploadDoc" (change)="UploadFileDoc($event)"
                                            [(ngModel)]="fileUploadDoc" name="fileUploadDoc" style="display:none" [ngModelOptions]="{standalone: true}">
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="container-fluid mt-3">
    <div class="row" *ngIf="res_type_selected !== 'show'">
        <div class="col-lg-3">
            <label class="form-label">Department HOD {{submitted}} -- {{HODControl?.invalid}}<span class="required" *ngIf="savedStatus=='0'">*</span></label>
            <div class="input-box rounded">
                <input type="search" class="form-control rounded-left" placeholder="Search"
                formControlName="HODControl" [matAutocomplete]="autoHOD" #hod [ngClass]="{'boxborderred': submitted && HODControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide || this.requestdetailform.controls['HODControl'].value}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoHOD="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsHOD | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
            
        </div>
        <div class="col-lg-3"
            [hidden]="res_type_selected == 'Casual Labour-Dept' || res_type_selected == 'Casual Labour-Project'|| res_type_selected == 'Project OTP'">
            <label class="form-label">HR<span class="required" *ngIf="savedStatus=='0'">*</span></label>
            <div class="input-box rounded">
                <input type="search" class="form-control rounded-left" placeholder="Search"
                formControlName="HRControl" [matAutocomplete]="autoHR" [ngClass]="{'boxborderred': submitted && HRControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide || this.requestdetailform.controls['HRControl'].value}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoHR="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsHR | async" [value]="option">
                        {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
        </div>
        <div class="col-lg-3"
            [hidden]="res_type_selected == 'Resource week OTP'  || res_type_selected == 'Casual Labour-Dept'">
            <label class="form-label">CPH<span class="required" *ngIf="savedStatus=='0'">*</span></label>
            <div class="input-box rounded">
                <input type="search" class="form-control rounded-left" placeholder="Search" 
                formControlName="CPHControl" [matAutocomplete]="autoCPH" [ngClass]="{'boxborderred': submitted && CPHControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide || this.requestdetailform.controls['CPHControl'].value}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoCPH="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsCPH | async" [value]="option">
                        {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
        </div>
        <div class="col-lg-3" [hidden]="res_type_selected == 'Resource week OTP'">
            <label class="form-label">FDPD Head<span class="required" *ngIf="savedStatus=='0'">*</span></label>
            <div class="input-box rounded">
                <input type="search" class="form-control rounded-left" placeholder="Search"
                formControlName="FDPDControl" [matAutocomplete]="autoFDPD" [ngClass]="{'boxborderred': submitted && FDPDControl?.invalid}"/>
                <mat-icon class="searchicon" [ngClass]="{'searchIconHide': !submitBtnHide || this.requestdetailform.controls['FDPDControl'].value}">search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #autoFDPD="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsFDPD | async" [value]="option">
                        {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </div>
        </div>
    </div>
    
</div>
</form>

<div class="mt-5" *ngIf="!submitBtnHide">
    <mat-accordion>
        <mat-expansion-panel (opened)="documentpanel = true" (closed)="documentpanel = false" [expanded]="!submitBtnHide">
            <mat-expansion-panel-header>
                <mat-panel-description class="detailgrid">
                    <h2>Workflow History</h2>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="col-lg-12 mt-4">
                <div class="row">
                    <div class="container aahtable">
                        <table class="table table-bordered ">
                            <thead>
                                <tr class="bg-secondary text-white">
                                    <th >Role</th>
                                    <th >User Name</th>
                                    <th >Status</th>
                                    <th >Date</th>
                                    <th >Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of CLOTPAAHArr; let i=index;">
                                    <td >{{item.AAH_ACTROLE}}</td>
                                    <td >{{item.AAH_ACTOWNERID}}</td>
                                    <td>{{item.AAH_ACTSTATUS}}</td>
                                    <td>{{item.AAH_ACTSTARTDATE | date: 'dd-MM-yyyy'}}</td>
                                    <td>{{ item.AAH_ACTREMARKS}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-6" >
            <div [hidden]="submitBtnHide || !viewPage">
            <label class="form-label">Remarks</label>
            <input class="form-control" type="text" [(ngModel)]="remarks" [ngClass]="{'boxborderred': rejectSubmitted && remarks == ''}" [ngModelOptions]="{standalone: true}">
        </div>
        </div>
<div class="col-lg-6" style="margin-top:3%;" *ngIf="viewPage"> 
    <div *ngIf="submitBtnHide">
    <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="save('save')">
        <mat-icon class="text-red">save</mat-icon>Save 
    </button>
    <button type="button" class="btn btn-sm btn-danger mx-2" (click)="submit()">
        <mat-icon class="text-red">done</mat-icon>Submit
    </button>
</div>
<div  *ngIf="!submitBtnHide">
    <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="submitTask('0')">
        <mat-icon class="text-red">close</mat-icon>Reject
    </button>
    <button type="button" class="btn btn-sm btn-danger mx-2" (click)="submitTask('1')">
        <mat-icon class="text-red">done</mat-icon>Approve
    </button>
</div>
</div>
</div>
</div>
</div>