<div class="container-fluid">
<div class="row head">
  <div class="col-sm-2 col-md-2 col-lg-2 headimg">
          <img src="../../assets/mahindralogo1.png " >
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8 headtitle">
     <h2 >Casual Labour/ OTP Approval Portal</h2> 
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 headlogo">
      <mat-icon class="text-white mx-1">home</mat-icon>
      <mat-icon class="text-white mx-2">notifications</mat-icon>
  </div>
</div>
</div>

<app-initiator></app-initiator>