<div class="main">
<form #searchForm="ngForm" >
    <div class="container-fluid mt-4 ">
    <div class="row">
        <div class="col-lg-3">
            <label class="form-label">Request Number</label>
            <div class="input-box">
                <input type="text" class="form-control" [(ngModel)]="search.requestNumber" [ngModelOptions]="{standalone: true}">
                <mat-icon class="searchicon" (click)="searchitems('requestNumber')">search</mat-icon>                 
              </div>
        </div>
        <div class="col-lg-3">
            <label class="form-label">Requester Token/Name</label>
            <div class="input-box">
                <input type="text" class="form-control" [(ngModel)]="search.requestName" [ngModelOptions]="{standalone: true}">
                <mat-icon class="searchicon" (click)="searchitems('requestName')">search</mat-icon>                 
              </div>
        </div>
        <div class="col-lg-3">
            <label class="form-label ">Resource Type</label>
            <div class="input-box">
                <select class="form-select dIconHide" [(ngModel)]="search.resourceType" [ngModelOptions]="{standalone: true}" > 
                    <option value="">-- select --</option>
                    <option class="bg-light" *ngFor="let item1 of resTypeArr">{{item1}}</option>
                </select>
                <mat-icon class="searchicon" (click)="searchitems('resourceType')">search</mat-icon>                
              </div>
        </div>
        <div class="col-lg-3">
            <label class="form-label ">Resource Department</label>
            <div class="input-box">
                <select class="form-select dIconHide" [(ngModel)]="search.resourceDepartment" [ngModelOptions]="{standalone: true}"  > 
                    <option value="">-- select --</option>
                    <option class="bg-light" *ngFor="let item2 of resDeptArr">{{item2}}</option>
                </select>
                <mat-icon class="searchicon" (click)="searchitems('resourceDepartment')">search</mat-icon>                 
              </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-3">
            <label class="form-label ">From Date</label>
            <div class="input-box">
                <input matInput [matDatepicker]="picker1" [(ngModel)]="search.fromDate" class="form-control" (click)="picker1.open()" [ngModelOptions]="{standalone: true}">
                 <!-- <mat-datepicker-toggle matSuffix [for]="picker1" id="datepickIcon"></mat-datepicker-toggle> -->
                 <mat-datepicker #picker1></mat-datepicker>
                 <mat-icon class="searchicon" (click)="searchitems('fromDate')">search</mat-icon>
              </div>
        </div>
        <div class="col-lg-3">
            <label class="form-label ">To Date</label>
            <div class="input-box">
                <input matInput [matDatepicker]="picker2" [(ngModel)]="search.toDate" class="form-control" (click)="picker2.open()" [ngModelOptions]="{standalone: true}">
                <!-- <mat-datepicker-toggle matSuffix [for]="picker2" id="datepickIcon"></mat-datepicker-toggle> -->
                <mat-datepicker #picker2></mat-datepicker>
                <mat-icon class="searchicon" (click)="searchitems('toDate')">search</mat-icon>
              </div>
        </div>
        <div class="col-lg-3">
            <label class="form-label ">Status</label>
            <div class="input-box">
                <select class="form-select dIconHide" [(ngModel)]="search.status" [ngModelOptions]="{standalone: true}"  > 
                    <option value="">-- select --</option>
                    <option class="bg-light" *ngFor="let item3 of statusArray">{{item3}}</option>
                </select>
                <mat-icon class="searchicon" (click)="searchitems('status')">search</mat-icon>                 
              </div>
        </div>
        <div class="col-lg-3">
            
        </div>
        </div>
        <div class="col-lg-12 mt-4" style="text-align: center;">
            <button class=" btn bg-danger text-white mx-3" type="button" (click)="searchitems('selectAll')"><mat-icon class="text-white" >search</mat-icon>Search</button>
            <button class=" btn bg-danger text-white mx-3" type="reset" (click)="clear()"><mat-icon class="text-white">clear</mat-icon>Clear</button>
            <button class=" btn bg-danger text-white mx-3"><mat-icon class="text-white">save</mat-icon>Saved Request</button>
            <button class=" btn bg-danger text-white mx-3"><mat-icon class="text-white">description</mat-icon>Export To Excel</button>
            <button class=" btn bg-danger text-white mx-3"><mat-icon class="text-white">sticky_note_2</mat-icon>Summary Report</button>
        </div>
</div>
</form>
<div class="container-fluid">
    <div class="col-lg-12 mt-4">
        <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr class="bg-secondary text-white">
                            <th>Request Number</th>
                            <th>Token/Name</th>
                            <th>Requestor Department</th>
                            <th>Resource Type</th>
                            <th>Resource Department</th>
                            <th>No of Resources</th>
                            <th>Period From</th>
                            <th>Period To</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody *ngIf=" searchData.length > 0; else noData">
                        <tr *ngFor="let item of searchData | paginate: { itemsPerPage: 15, currentPage: page, totalItems: totalLength }">
                            <td style="cursor:pointer;text-decoration: underline !important;color: blue;"><a (click)="showSearchCLOTP(item.REQUEST_NUMBER)">{{item.REQUEST_NUMBER}}</a></td>
                            <td>{{item.TOKEN_NUMBER}}</td>
                            <td>{{item.REQUESTORDEPARTMENT}}</td>
                            <td>{{item.RESOURCETYPE}}</td>
                            <td>{{item.RESOURCEDEPARTMENT}}</td>
                            <td>{{item.NOOFRESOURCES}}</td>
                            <td>{{item.PERIODFROM}}</td>
                            <td>{{item.PERIODTO}}</td>
                            <td>{{item.STATUS == 0 ? 'Saved' : item.STATUS == 2 ? 'In Progress' : item.STATUS == 1 ? 'Completed' : "" }}</td>
                        </tr>
                    </tbody>
                    <ng-template #noData>
                        <tbody *ngIf="show" >
                            <tr>
                               <td colspan="8" style="text-align:center"><b>No Data Found</b></td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
        </div>
    </div>
    <div *ngIf="totalLength > 0">
    <pagination-controls class="pagination" (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
</div>
</div>
